/* to learn CSS*/

*{
  margin: 10px;
  padding: 10px;
  box-sizing: border-box;
}

a:visited{
  color: rgb(127, 32, 244);
}

body{
  font-family: sans-serif;
  font-size: 500;
}

.purple.header{
  color: rgb(127, 32, 244);
  font-size: 50px;
  font-weight: bold;
  text-align: center;
}

.recipes{
  border: 1px solid rgba(94, 139, 230, 0.999);
  border-radius: 20px;
  padding-right: 20px;
  padding-left:  20px;
  display: block;
}


p{
  font-style: italic;
  color: purple;
  text-align: center;
}

/* cookie specific */

.cookies.title{
  color: rebeccapurple;
  text-align: center;
  font-size: 50px;
}

.cookies.steps, .cookies.ingredients{
  color: aqua;
  font-size: 20px;
  font-weight: bold;
}

.cookies.ul {
  border: 1px solid purple;
  border-radius: 10px;
  padding: 20px;
}